<mat-card>
  <mat-card-title>Employee List</mat-card-title>
  <mat-card-content>

    <kendo-grid
      [data]="employees"
      [height]="530"
      [sortable]="{
            allowUnsort: allowUnsort,
            mode: multiple ? 'multiple' : 'single'
            }"
      [sort]="sort"
      (sortChange)="sortChange($event)">
      <kendo-grid-column field="id" title="ID" width="60">
      </kendo-grid-column>
      <kendo-grid-column field="name" title="Name" width="250">
      </kendo-grid-column>
      <kendo-grid-column field="lastname" title="Last Name" width="250">
      </kendo-grid-column>
      <kendo-grid-column field="designation" title="Designation">
      </kendo-grid-column>
      <kendo-grid-column field="project" title="Project">
      </kendo-grid-column>
      <kendo-grid-column field="joiningDate" title="Joining Date" width="120" filter="date" format="{0:d}">
      </kendo-grid-column>
      <kendo-grid-column field="status" title="Status" width="120">
      </kendo-grid-column>
      <kendo-grid-command-column title="Action" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoGridEditCommand class="k-primary">
            <a mat-button [routerLink]="['/employee-edit', dataItem.id]">Edit</a>
          </button>
        </ng-template>
      </kendo-grid-command-column>

      <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
        <kendo-slider
          [showButtons]="false"
          [tickPlacement]="'none'"
          [max]="totalPages"
          [min]="1"
          (valueChange)="sliderChange($event)"
          [value]="currentPage">
        </kendo-slider>
        <kendo-pager-info></kendo-pager-info>
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <kendo-pager-page-sizes [pageSizes]="[5, 10, 40]"></kendo-pager-page-sizes>
      </ng-template>

    </kendo-grid>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/employee-add']">Add</button>

</mat-card>

