<mat-card>
  <form #employeeForm="ngForm" (ngSubmit)="save(employeeForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{employee.name ? 'Edit' : 'Add'}} Employee</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="employee.href">
      <mat-grid-list cols="2" rowHeight="6:1">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Employee Name" [(ngModel)]="employee.name"
                   required name="name" #name>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Employee Last Name" [(ngModel)]="employee.lastname"
                   required name="lastname" #lastname>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Designation" [(ngModel)]="employee.designation"
                   required name="designation" #designation>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" required name="joiningDate" #joiningDate
                   ngModel [(ngModel)]="employee.joiningDate"
                   placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Project" [(ngModel)]="employee.project"
                   required name="project" #project>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>

          <mat-slide-toggle [checked]="employee.status"
                    ngModel [(ngModel)]="employee.status"
                    required name="status" #status>
            Status
          </mat-slide-toggle>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!employeeForm.form.valid">Save
        </button>
        <button mat-raised-button color="secondary" (click)="remove(employee.href)"
                *ngIf="employee.href" type="button">Delete
        </button>
        <a mat-button routerLink="/employee-list">Cancel</a>
      </mat-card-actions>

    </mat-card-content>

    <mat-card-footer>

    </mat-card-footer>
  </form>
</mat-card>
